<!DOCTYPE html>

<html xmlns:th=""http:thymeLeaf.org>

	

<head>

<meta charset="ISO-8859-1">

<title>Consultation Page</title>

<link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
<div class="card">

	<div class="card-header">

		<h2>Liste des Consultation</h2></div>
		<div class="container">	
		<div class="text-end">
			<a th:href="@{/formajoutC}" class="btn btn-success">Ajouter Consultation</a>
		</div>

	<div class="card-body" >

		
		<form method="get" action="/indexConsultation">
			Mot clé :
			<input  type="text" name="mc" th:value="${mc}">
			<button type="submit" class="btn btn-primary">search</button>
		</form>
		
<table class="table">

  <thead>

	 <tr>

	<th>ID</th>

    <th>date de consultation</th>

    <th>rapport Consultation</th>

    <th>Prix Consultation</th>
    <th>Action</th>

    </tr>

  </thead>

  <tbody>
 
 <tr th:each="c:${data}">

	    <td th:text="${c.id}"></td>

	    <td th:text="${c.datedeconsultation}"></td>

	    <td th:text="${c.rapportConsultation}"></td>
	    
	    <td th:text="${c.PrixConsultation}"></td>

	    <td><a th:href="@{'/deleteC/'+${c.id}}" href="" class="btn btn-outline-danger fa fa-trash"></a>
	    <a th:href="@{'/modifierC/'+${c.id}}" href="" class="btn btn-outline-warning fa fa-edit"></a></td>


	  </tr>

  </tbody>

</table>

	<ul class="nav nav-pills">
		<li th:each="i,s:${pages}">
		<a th:href="@{/indexConsultation(mc=${mc},page=${s.index})}"
		   th:text="${s.index+1}"
		   th:class="${currentpage==s.index?'btn btn-secondary mc-1':'btn btn-outline-secondary ms-1'}"></a>
			
		</li>
		</ul>
	</div>
</div>
</div>
</body>
</html>